# logs
/logs/

# pycache
/__pycache__

/job/logs/job/job.log

*.json
*.csv

*__pycache__*
/config/*
/file/generate_black_list.py
/crawlers/*.csv
/crawlers/fb_videos_20000.xlsx
/crawlers/out
/crawlers/video/
/email/sendgrid.env
/paypal/configs.json
/paypal/paypal_cash_out/
/reddit_spider_selenium/image/
/reddit_spider_selenium/reddit/
/news_recommendation/news/
/news_recommendation/batch_pred.txt
laji/
google_cloud/
job/*.csv
news_recommendation/*.csv
file/*.csv

*.log
*logs*
*.out*
*.xlsx
*geckodriver.log
*.gif
*.mp4
*.txt
*.png
*.html
*.deb

env/
.DS_Store
.idea/

Pipfile.lock
